global
    maxconn 4096
    daemon

defaults
    log     global
    mode    http

    timeout connect 5000
    timeout client  50000
    timeout server  50000

    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http
    bind *:80
    mode http
    stats uri /haproxy?stats

    # acl mlsd_web hdr(host) mlsd.test
    # use_backend default_webapp if mlsd_web

    acl atlissan hdr(host) atlissan.test check
    use_backend web_app1 if atlissan

    default_backend web_app1


# backend default_webapp
#     mode http
#     server webserver_gateway_1 mlsd_strategy_web_1

backend web_app1
    mode http
    server localhost atlissan-twitter_app:3000

# backend web_app2
#     mode http
#     server webapp2_server_1 webserver_web1_1
